[2017-07-19 16:00] noisemaker00 opened #1 "Why the WRITE_SECURE_SETTINGS permission must be granted with adb?"
I strongly suggest you to implement this permission grant request into the code, because it is quite complicated for users to grant it with adb.
When I install an app I expect it works 'out-of-the-box'. If I don't have a PC to set up the app in that moment I cannot use it until I perform the adb procedure.
I'm a developer too, if you need help to implement this feature I will give you some hints a

[2017-07-19 16:15] rascarlo commented on #1
@noisemaker00 please explain how to enable such permission

[2017-07-19 16:27] noisemaker00 commented on #1
Sorry, I read page from my smartphone in a hurry and skipped the SECURE word.
So WRITE_SETTINGS can be acquired, WRITE_SECURE_SETTINGS does not, it require the adb commands or root to work properly.
I bought the app by the way. Great work.

[2017-07-20 06:27] #1 closed

[2017-07-20 06:28] rascarlo commented on #1
@noisemaker00 thank you for your support

[2017-08-07 18:53] grandpajive opened #2 "Multi-Application button"
There used to be an option to show applications in X columns by Y rows. Now it is a list. I have 22 items in that list and was wondering if you could reimplement that feature.

[2017-08-08 10:01] rascarlo commented on #2
@grandpajive yes you are right. such option has be removed to speed up the list creation. Once I am happy with a better implementation it will be re-added. Thanks for opening this issue

[2017-09-28 11:28] Enzo88 opened #3 "UI Freeze"
In the last update released in date 27/09/2017, cause on Android 8.0 running on Pixel UI Freeze, and an increasing of the CPU temp.

[2017-09-28 11:30] rascarlo commented on #3
@Enzo88 Did you read the full changelog on https://github.com/TilesOrganization/support/wiki/Changelog

[2017-09-28 11:47] Enzo88 commented on #3
Yes, I've tried also to reinstall the app and use only One tile to control the ringtone, but the issue still the same.

[2017-09-28 11:49] rascarlo commented on #3
@Enzo88 Did you reinstall the app without previously deleting the app's data? Because if you did, it is still trying to parse the same data.

[2017-09-28 11:51] Enzo88 commented on #3
No, firstly I've deleted all data.

Il 28 set 2017 13:49, "rascarlo" <notifications@github.com> ha scritto:

[2017-09-28 11:52] rascarlo commented on #3
@Enzo88 gotcha. So only one tile, the ringer mode one, is causing the UI to freeze?

[2017-09-28 11:54] rascarlo commented on #3
@Enzo88 can you please with a different tile? Thanks

[2017-09-28 11:54] Enzo88 commented on #3
I don't know if is releated to this specific tile, I've tried with this,
but Can also affect other tiles, if is useful I Can have a try with another
tile.

Il 28 set 2017 13:52, "rascarlo" <notifications@github.com> ha scritto:

[2017-09-28 21:35] digiguru opened #4 "Support the ability to run an action inside an application"
I like the ability in Tasker to be able to run an action in an application, specifically in pocketcasts I can do this:

http://support.pocketcasts.com/article/third-party-integration/

Is it possible to be able to trigger actions from a tile?

Many thanks

[2017-09-29 08:11] Enzo88 commented on #3
After the last update the issue seem solved. Thanks

[2017-09-29 13:40] rascarlo commented on #3
@Enzo88 Thanks for your help. Closing the issue. Thanks again

[2017-09-29 13:40] #3 closed

[2017-09-29 13:42] rascarlo commented on #4
@digiguru I don't use tasker so that I may not be of much help, but I guess you can use the shortcut to trigger tasker. That's what some are doing I believe

[2017-09-30 06:37] Sudrien opened #5 "Camera Lock"
I see Tiles already has a Device Administrator option.

Would there be any possibility of a toggle based on setCameraDisabled() ? That is, when the camera is disabled, apps are blocked from accessing the camera.

https://github.com/jurijalbegger/camerablocker is a sample ui-heavy app with this functionality.

[2017-09-30 08:00] rascarlo commented on #5
@Sudrien That is such a nice idea! Let me work on it

[2017-09-30 13:57] rascarlo commented on #4
@digiguru you can also use the new activity tile and check if the application exposes any activity for your desired action and add it to the tile.
I am closing this issue because it is not something that Tiles points to achieve nor targets.
Thank you for submitting your issue.

[2017-09-30 13:57] #4 closed

[2017-10-02 12:35] NeoBeum opened #6 "Feature Req: Long Press - Secondary Action"
Unless I've missed it and it's already implemented.

A long press on icon for second action would be great

[2017-10-02 13:20] rascarlo commented on #6
Hi @NeoBeum and thanks for opening the issue.
Unfortunately a long press event is not exposed by the API [1].

The long press action is optional but recommended [2].

[1] https://developer.android.com/reference/android/service/quicksettings/Tile.html
[2] https://developer.android.com/reference/android/service/quicksettings/TileService.html#ACTION_QS_TILE_PREFERENCES

[2017-10-02 13:21] rascarlo commented on #6
Closing the issue as invalid

[2017-10-02 13:21] #6 closed

[2017-10-02 20:05] NeoBeum commented on #6
@rascarlo Ah ok, thanks.  Are there any incompatible changes to QS API for SDK24  to SDK26 that you know of?   The quick settings for system apps are not quick anymore for Xperias. I was going to look at porting the menu for Oreo or other Manufacturers. I feel sorry for iOS, where users only disconnect connected radio if toggled from quick settings, and they need to go into main menu to turn off o

[2017-10-03 07:05] rascarlo commented on #6
@NeoBeum unfortunately nothing has changed in the quick settings tiles [1] and the quick settings tile service [2] APIs, and the documentation hasn't changed either. About experia implementation, that is a completely different case since they build from source and they can inject any code they want and edit the master code.

[1] https://developer.android.com/reference/android/service/quicksettings

[2017-10-10 14:01] OompaLoompaa opened #7 "Command/root command Tile"
A command/root command tile would be a great addition to the already great Tiles App.
Hope to hear from it soon...

[2017-10-10 17:21] Dildacorn opened #8 "Wifi Manager Tile Request"
Me and the dev talked about this via email. In Android Nougat you cannot access your closest wifi connections via the quick settings anymore like you could with android marshmellow. He is looking into how to implement a Wifi tile that allows the user to have a dialog popup of either the saved wifi networks or closest wifi networks. (I'm not sure how hard he is making it on himself) 😬😅 Eitherway th

[2017-10-11 12:14] rascarlo commented on #5
@Sudrien closing the issue. Camera lock tile is available starting version 2.0.2.
Thanks again for your suggestion.

[2017-10-11 12:14] #5 closed

[2017-10-11 12:16] rascarlo commented on #7
@OompaLoompaa thanks for opening the issue. And thanks for the suggestion. Labeled as enhancement.

[2017-10-11 12:18] rascarlo commented on #8
@Dildacorn thanks for opening the issue. And thanks for the suggestion. Labeled as enhancement.

[2017-10-12 16:41] ryran opened #9 "NFC tile just stopped working after a reboot"
![screenshot_20171012-113614](https://user-images.githubusercontent.com/1092618/31507923-1028525e-af42-11e7-97d3-385809a7d3e9.png)

Very weird.... I've already tried triggering a manual force-restart of active tiles.

[2017-10-12 16:44] rascarlo commented on #9
@ryran Hi and thanks for opening this issue. Are you on a Nexus 6P?

[2017-10-12 16:47] ryran commented on #9
5x actually. However, I spoke too soon because I was able to fix it by hiding/disabling the tile and then re-enabling and re-adding it. Odd. Thanks for the quick response tho!

[2017-10-12 16:47] #9 closed

[2017-10-12 16:48] rascarlo commented on #9
@ryran Thanks!

[2017-11-10 16:12] buffal0b1ll opened #10 "Tasker Intent to Restart Active Tiles"
## Feature request i

A tasker intent to Restart Active Tiles would allow substratum users who just applied overlays to quickly create a shortcut they could tap to restart active tiles.

[2017-11-17 11:07] rascarlo commented on #10
@buffal0b1ll  What about a tile for it?

[2017-11-17 13:58] buffal0b1ll commented on #10
A tile to restart tiles?  That'd work.  A Tasker intent would allow a
profile to force on Monitor Start or make a home screen shortcut.  But a
tile would be a close second.  Optimally the force tiles restart on boot
will work on pixel 2.  I think you mentioned the next release has a fix for
this.

--expect crazy typos--

On Nov 17, 2017 6:07 AM, "rascarlo" <notifications@github.com> wrote:

[2017-11-22 12:25] thefly1991 opened #11 "Sync Now"
## Feature request issue

"Sync Now": similar to activate the auto-sync (by pressing once) and disabling late later (by pressing once again), "sync now" only sync everything once and the auto-sync stays off when done (this limits power consumption/data usage).

The app "Notification Toggle" by j4velin for example has this option (if you need to look at it)
Thanks

[2017-11-23 16:52] rascarlo commented on #11
@thefly1991 thanks for opening the issue here with your feature request.

[2017-12-04 13:23] RealRexen opened #12 "No screenshot tile even tho permission has been granted"
I did adb shell pm grant com.rascarlo.quick.settings.tiles android.permission.WRITE_EXTERNAL_STORAGE in cmd and got no errors but yet I can't add the screenshot tile
![screenshot_2017-12-04-08-19-26](https://user-images.githubusercontent.com/18408903/33554867-58cb86a8-d8cc-11e7-8b91-15101a830867.png)

[2017-12-04 13:27] azumukupoe commented on #12
Your device have to be rooted.

[2017-12-04 13:29] rascarlo commented on #12
@RealRexen as explained in the google play description, your device needs superuser privileges

[2017-12-04 13:29] #12 closed

[2017-12-04 13:37] RexenSquared commented on #12
Then why does the wiki not say that plus there was this other app that could add the screenshot tool without me needing root

[2017-12-04 13:40] rascarlo commented on #12
@RealRexen the wiki doesn't say that such command enables the screenshot tile. Also you don't need to use adb to grant external storage permission, because it is listed as a permission that can be requested by the app at runtime. about any other apps doing so, ask to the developers

[2017-12-04 13:57] RexenSquared commented on #12
I'll look into the app that I use to use in the past for more quick tiles, this is the app I had used https://play.google.com/store/apps/details?id=it.simonesestito.ntiles but is possible because my phone was made by LG that things could work different?
Edit: From what I recall the phone didn't use the systems screenshot command but did something that made its own folder and saved the screenshot t

[2017-12-04 14:12] rascarlo commented on #12
@RealRexen there is no clean way to take a screenshot on non-rooted devices. Developers can use the MediaProjection class (https://developer.android.com/reference/android/media/projection/MediaProjection.html) but it is a gimmick. such class is intended to use for screenrecording and not to screen capture. I have zero wish and interest in such spaghetti code. I assume they are using the class to s

[2017-12-04 14:53] RexenSquared commented on #12
So android has a built in screen recorder but no easy screenshot tool (without using the hardware buttons)?

[2017-12-04 14:55] rascarlo commented on #12
exactly

[2017-12-05 16:55] Nxt3 opened #13 "[Feature Request] Custom icons for tiles"
For the "Apps" and "Shortcuts" tiles, it would be nice to be able to select the icon (using the Material Design icons) that's shown. For example, if I have a shortcut to "Battery settings", I'd like to be able to show a battery icon instead of the arrow icon.

This would be like how [Custom Quick Settings](https://play.google.com/store/apps/details?id=com.quinny898.app.customquicksettings&hl=en) d

[2017-12-20 09:21] Raphaeal19 opened #14 "USB Tethering quick tile request"
## Feature request

`[USB Tethering quick tile] A quick tile to enable USB Tethering to the computer upon connection.`

[2018-02-03 22:19] JoostyBoy opened #15 "[bug] mobile data switch doesn't work properly"
The icon changes when switches, as does the icon in the top bar (notification panel closed), but in fact data is not switching. It stays active, or when switched off in Android settings, stays off.

I can supply some screenshots to clarify.

OnePlus 5t running Android 7.1.1 and Magisk root.

Cheers!

[2018-02-05 07:54] rascarlo commented on #10
Closing issue and labeled as feature added

[2018-02-05 07:54] #10 closed

[2018-02-05 07:55] rascarlo commented on #15
@JoostyBoy running stock OnePlus rom?

[2018-02-05 07:57] rascarlo commented on #14
@Raphaeal19 for security reason such tile won't be added.

[2018-02-05 07:57] #14 closed

[2018-02-05 14:19] joostk90 commented on #15
@rascarlo Yes, that's right.

[code]

I just noticed the following. When switching the network traffic state via Tiles, the new state (on/offline) becomes active after accessing the SIM & network menu page in Android settings.

[2018-02-06 08:51] joostk90 commented on #15
Hereby some screenshots to clarify the issue.

As seen by the icon on the top bar, mobile data is online: 4G+ and arrows left to it.
![screenshot_20180205-152042](https://user-images.githubusercontent.com/6837764/35848301-ed05a604-0b1d-11e8-8b63-1dee99265377.jpg)

The second tile (from Tiles) to switch the state, here online:
![screenshot_20180205-152157](https://user-images.githubusercontent.com/

[2018-02-19 14:43] jwhumphrey opened #16 "[feature request] Bluetooth Battery Power Tile"
Android O can now display battery power of context Bluetooth devices but you have to go into Settings > Bluetooth to view the percent. A tile would be fantastic.

[2018-02-19 15:32] rascarlo commented on #16
Do you mean a tile to constantly show the connected bt device's battery?

[2018-02-19 15:44] witterally commented on #16
Yes that's the usage I was looking for. I'm not even sure if it's possible since I haven't seen that available. Just thought I'd check though. Thank you!

[2018-02-19 16:03] rascarlo commented on #16
I have to check if it is possible. But having a tile constantly querying for the connected bt device battery would require a foreground running service to properly show the percentage. Is such thing what you are looking for?

[2018-02-19 18:02] witterally commented on #16
That's a great point. I hadn't thought about the possible phone battery impacts of a running service and constantly querying the wireless device.

I wouldn't worry about this, it's not a big deal for the negative impact it might make. Thanks for taking the time to think it over.

[2018-02-20 11:46] #16 closed

[2018-02-24 20:16] unknownsoldierx opened #17 "[Feature request] Ability to add more than one instance of a tile"
For example, I have a power tile that restarts. I would also like to add a power tile that reboots to recovery.

[2018-03-18 23:05] gkatev commented on #15
Also not functional in Xiaomi Redmi Note 4X, LineageOS 14.1. Tiles app crashes when using the mobile data toggle functionality

[2018-03-21 18:45] rascarlo commented on #15
Such issue has been fixed in the upcoming release. It has been implemented using a simple superuser call. Hence the action to change cellular data will be available only on devices with superuser privileges. Thanks for opening the issue

[2018-03-21 18:45] #15 closed

[2018-03-21 18:51] rascarlo commented on #17
hi @unknownsoldierx and thanks for opening a new issue. Having the option to add more than one instance of a tile won't be added since the component can not be created at runtime but needs to be in the code. Apps, activities, shortcuts come with up to five tiles, but the same won't apply to the power tile

[2018-03-21 18:51] #17 closed

[2018-03-22 06:51] Backdoorek opened #18 "Disturbances in measurements of data usage"
While i have turned off wi-fi or mobile data, counter counts sometimes 100B/s (on upload and download)

Vid: https://youtu.be/ysGOF7iepyw

[2018-03-31 23:10] gkatev commented on #15
Hello, I downloaded the new version(2.0.5) and the cellular data tile does switch off the data but it will not turn it on. (I am on lineageOS)

[2018-04-02 22:05] sparklightSU opened #19 "[bug] Screenshots make a blank image"
I'm rooted.
Upon clicking the screenshot tile, the notification "Screenshot captured" pops up, but the image enclosed is blank. The image written to storage is also blank. Love your app btw.

[2018-04-05 17:08] jordandrako opened #20 "[Feature Request] add timeout settings to Awake while plugged in tile"
Some settings for the "Awake while plugged in" tile to have it turn off when unplugged, or to turn off after a set period, or after a time of day would be useful. My use case for this tile is that I use it at work while debugging a site, or with my podcast controls up, but forget to turn it off when I get home and it sits awake on my night stand.

Also a question: is it possible to have this setti

[2018-05-02 17:45] insanityinside opened #21 "[feature request] Switch data card tile request"
Since switching to a custom ROM on my OnePlus 3, I'm missing the "switch data card" tile (to swap the active data connection between the two SIMs in my phone). Would it be possible to implement as a quick tile?

There's an Automate flow here - http://llamalab.com/automate/community/flows/13964 - which I'll get on my phone, and hopefully be able to write up here in steps, which I hope will make thi

[2018-05-26 20:39] donportugal opened #22 "[bug] Caffeine tile not working after android 8.1 update"
After updating the OnePlus 5 to android 8.1 the caffeine tile stopped working, when the device default timeout is reached the screen turn off and the notification is dismissed.

Tried without any luck:
- Disabling Battery Optimization for the Tiles app.
- Uninstalled the app and reinstalling it.
- Disabling and enabling the tile.

The caffeinate app doesnt work either, found working the implementa

[2018-05-28 09:17] rascarlo commented on #22
Unfortunately this is happening only on OP devices. There is nothing I can do since it is something related to OP and not the standard android frameworks.

[2018-05-28 09:17] #22 closed

[2018-05-30 02:12] atkinsjr opened #23 "Feature request (Variables)"
## Feature request issue
Are there any accessible variables to use in tasker or other apps?  Specifically the counter, stopwatch or countdown?  I would like to use these as variables in Wear OS watchfaces.  Love this app btw,

Great job!

Thanks in advance if you can help

[2018-07-09 05:53] cpthero commented on #19
Same is happening for me on Android 8.1. No fix after 3 months?

[2018-07-22 20:22] andexa opened #24 "[feature request] Combine Adaptive Brightness and Brightness Tiles"
I would like to have the two tiles combine into one. The options would be: low -> med -> high -> adapt.

The tile could be a new separate tile or it could replace the two tiles.

[2018-08-01 09:02] rascarlo commented on #19
@sparklightSU @cpthero this is not a bug in Tiles, but a bug with superuser apps.
You can try the following on your android device:
- open a terminal window
- type su (to get superuser privileges)
- type screencap /sdcard/screencap.png
- observe the result.

The image will be blank.

[2018-08-01 09:02] #19 closed

[2018-08-08 13:36] abqnm commented on #13
Please, this!

Also, it would be nice to change the name of the "Applications" group tile. I'd like it to be more descriptive since it can be hard to remember what the tile is for if you don't use it regularly. Changing the name, at the very least, would help. But changing both the icon and the name would be a big help.

[2018-08-12 19:46] Flnch opened #25 "[bug] No po-pup for "Input method" tile"
I added the "input method" tile and selected the pre-defined option such that the input method po-pup should open. However, this only works if the foreground app is the Tiles app itself. Inside other apps or system text fields pressing the "input method" tile shows no effect. Other tiles are working well.

Rooted Nexus 6, Android 8.1.0 (LineageOS, rooted with Magisk)

[2018-08-12 20:06] Flnch commented on #25
Strange, I played with other tiles and now it works perfectly. May this be because I granted some extra permission for the "location" tile?

[2018-08-26 08:59] avertv opened #26 "Icon tiles my apps"
## Bug issue
When adding tiles to my application, my application icon is not displayed

[2018-08-27 17:56] GoukiAkuma opened #27 "Screenshot not working in android P"
## Bug issue
[bug]:
Taking screenshots using tiles from quick settings does not work, only captures a white image.

Other info:
Running Android P (Rooted) on Essential Phone PH-1

[2018-08-28 10:35] rascarlo commented on #27
@GoukiAkuma Are you using Magisk?

[2018-08-28 10:37] rascarlo commented on #26
@avertv this feature has been removed after the majority of apps started using adaptive icons.

[2018-08-28 10:37] #26 closed

[2018-08-28 10:37] rascarlo commented on #25
@Flnch the permission required for the location tile has nothing to do with the input method tile.

[2018-08-28 10:37] #25 closed

[2018-08-28 10:38] rascarlo commented on #23
@atkinsjr tasker integration is only available thorught the shortcut tiles

[2018-08-28 10:38] #23 closed

[2018-08-28 10:40] rascarlo commented on #11
feature rejected due to the overcomplicated logic to implement such action

[2018-08-28 10:40] #11 closed

[2018-08-28 10:41] rascarlo commented on #18
@Backdoorek this is a known issue with the API

[2018-08-28 10:41] #18 closed

[2018-08-28 11:53] thefly1991 commented on #11
Hi,

Of course it's your choice (and I respect that) but I just find weird to know that the other older app I have on my 5 year old LG G2 has this option (toggle from the notification panel) when 5 years later on my LG G6 I can't have it

So be it.

thanks anyway

[2018-08-28 12:24] GoukiAkuma commented on #27
Yes, on version 16.7
if u need some sort of log, let me know the required steps and i can send it over to u via email.

EDIT: saw a similar bug reported by another user: https://github.com/TilesOrganization/support/issues/19#issuecomment-409504792

tried the terminal commands u've posted.
terminal showed: "gralloc-mapper is missing" message
hope this helps.

strangely this does not happen on my ne

[2018-08-29 06:24] amard33p commented on #24
Was just about to send a mail for this...Then came across this!
+1...instead of having 2 tiles...now we can have just 1.

[2018-09-01 16:52] GoukiAkuma commented on #27
Bug seems to be fixed with the latest magisk (v17. 0)

[2018-09-01 16:52] #27 closed

[2018-09-12 12:29] rascarlo commented on #27
@GoukiAkuma yes this is a magisk issue.

[2018-09-12 12:29] rascarlo commented on #21
@insanityinside due to privacy and security reasons, such feature is not achievable by Tiles

[2018-09-12 12:29] #21 closed

[2018-09-14 11:42] AndreasA opened #28 "NFC Tile after reboot stops working until workaround"
Hi,

I think this bug is related to the previously closed bug: [NFC tile just stopped working after a reboot](#9 )
The user's description fixes the bug. However, upon another restart it might re-occur. I haven't 100% figured out when it re-occurs and when it doesn't.

I think the issue only happens when using "Change NFC status". However, the app does have the permission for secure settings and it

[2018-09-14 14:13] AndreasA opened #29 "[feature request] Password protect changing settings of app"
Hi,

I want to enable some tiles for a tablet that I am limiting to certain apps, e.g. for "Point of Sale" use or similar, e.g. using restricted profiles or Acer's EZ Mode.
Everything is fine so far. However, in order for the Quick Settings Tiles from "Tiles" to work, I have to allow "Tiles" to be opened too. In order to disallow people to change settings inside "Tiles" (due to system settings res

[2018-09-26 10:35] rascarlo commented on #29
Hi @AndreasA and thanks for your feedback.
Do you mind to explain what you mean with

[2018-09-26 18:24] AndreasA commented on #29
Hi,,

what I meant is the following:
In Acer's EZ Mode I can limit which Apps can be run by the tablet. If the app isn't allowed it will not be started or closed automatically.
So if I add a quick settings tile using Tiles and want the user in active EZ Mode to be able to use that tile, I have to allow Tiles to be run as otherwise the tile is visible but nothing happens, e.g. tested with the Lock

[2018-10-21 07:07] AndreasA commented on #28
I have yesterday installed the update to Android 9.0 (and Security updates September 2018) and since then it seems the issue is gone that the NFC tile doesn't work after a reboot.
So I am not sure if it is necessary anymore to investigate this but maybe there are other device and software combinations that have that issue still.

[2018-10-30 12:28] rascarlo commented on #28
hi @AndreasA and thanks for keeping me posted. Unfortunately the NFC tile relies on some not-so clean code: the android frameworks doesn't expose any public method available to third party apps to enable/disable the NFC component and Tiles tries to do so by reflection calling hidden method. This is due to android security and privacy implementation. Even more, now when apps will be targeting API 2

[2018-10-30 19:21] AndreasA commented on #28
Ok. So in the future only the Shortcut option will be available? If so, will at least the status indicator still work correctly?

In that regard with Android Pie I only get to `Connected Devices` but not to the `Connection settings`

[2018-11-13 23:03] snug opened #30 "[feature request] USB Tethering"
Hello, I was wondering if it was possible to add a tile for USB tethering.

My request is different to #14, as I'd just like it to toggle the setting on in the same way that USB tethering currently works, ie. temporarily enabled until connection / disconnection. I don't believe this should be a security concern if implemented in the same way.

I use USB tethering for work (and play) a lot, so a ti

[2018-11-26 09:20] rascarlo commented on #30
@snug USB tethering is not available to thirdparty applications being a very sensible android feature.

[2018-11-26 09:20] #30 closed

[2018-11-26 09:23] rascarlo commented on #29
@AndreasA I belive password protecting the application settings is pointless since any user can edit the quick settings layout and remove the tiles added by the main user.

[2018-12-04 20:44] AndreasA commented on #29
Yes but they can enable further tiles, e.g. one could activate some Tiles in the tiles app but not all of them.
As there is no password protection, they could not enable additional tiles. It isn't that big of a deal, as any tiles that change settings still require a password but...

[2018-12-31 08:28] mirfatif commented on #7
Running a shell script or command form Tile is badly needed feature
@TilesOrganization any hopes?

[2019-02-01 08:42] vyashole opened #31 "[feature request] Ability to launch custom scheme URLs"
## Feature request issue

`[feature request] Ability to launch custom scheme URLs`

We'd love to have a tile to launch URLs with app-specific schemes.
such as `whatsapp://` or `kdeconnect://` with the `ACTION_VIEW` intent.

[2019-03-28 18:10] AndreasA commented on #28
@rascarlo  OK. So even when using only the Shortcut Option, there is still the issue that the status of the tile is wrong after a reboot. It is always one - no matter if I turn it off or on.
Only thing that helps (always, sometimes some steps might not be required) in that case is to
- Enable NFC
- Remove the NFC Tile from the active tiles in the quick settings edit
- Disable NFC tile in Tiles
- R

[2019-04-15 00:43] kps619 opened #32 "[feature request] screenshot tile"
Could you create a screenshot tile?

Edit: okay, according to the wiki, there is a screenshot tile, but I don't see it as an option in my Tiles app.

[2019-04-15 06:05] rascarlo commented on #32
A screenshot tile is already available but only on devices with superuser privileges 

[2019-04-21 10:38] mc-12 opened #33 "[feature request] protect tiles with security pattern"
## Feature request issue

When the device is locked, it is still possible to change the state of a tile. It would be awesome if I could set a "need to unlock device first" toggle for each tile, so that I have to unlock the device first, before the action is perfomed. Just like it happens for the regular GPS setting.

[2019-05-10 10:30] Flnch commented on #25
Please reopen the issue.

Now I had time to investigate the issue on a clean Nexus 6 virtual device with Android 8.1. After installation, the "input method" tile only works if the focus is on the Tiles application itself. Otherwise, it does not open the input method list. In logcat it shows
[code]
[On xda developers](https://www.xda-developers.com/how-to-automatically-change-your-keyboard-on-a-per

[2019-06-05 08:13] rascarlo commented on #25
Thank you @Flnch
I will soon update the app.
Thank you very much for taking the time to report such issue. Precious!

[2019-06-12 05:16] revanmj opened #34 "[feature request] add settings shortcut to changing default payment app"
As title says, would it be possible to add settings shortcut to the screen where you can change default payment (HCE) app? (Google Pay or your bank's app)

I know it's reachable from other apps as I successfully created such shortcut with Nova (using activity browser).

[2019-06-12 05:40] rascarlo commented on #34
Did you try using an activity tile?

[2019-06-12 05:48] revanmj commented on #34
Yes, it works this way, but there are lots of activities there to search from (and no way to quickly filter them), so I thought it would be good idea to add this permanently into settings shortcuts list (icon would also more appropriate).

[2019-06-12 08:23] rascarlo commented on #34
Yes I understand but I believe that a specific tile just for that would be redundant and unnecessary. Even more, the app will need first to check how many payment options are available and then show the tile. And such logic could be extremely prone to bugs. I hope it makes sense.
Thanks for your feedback, maybe I should just implement a search view to filter the activities. 
Thanks foe opening the

[2019-06-12 08:31] revanmj commented on #34
I didn't mean specific tile - I mean adding payment settings to the list of settings shortcuts inside the app that you can use for settings shortcuts tile.

[2019-07-11 09:03] mlx-driver opened #35 "[feature request] keep wi-fi on during sleep"
I believe this option is no longer available in settings for 9 and higher, but It'd be nice to have a quick switch in tiles for people who still use 8.x or lower

[code]

[2019-08-02 12:41] EmbersArc opened #36 "[bug] Mono-audio toggle does not work on Samsung devices"
It shows up and can be toggled no problem. But it does not actually affect mono audio on my Samsung Galaxy S8 with Android 9. It seems that that setting has to be accessed differently on Samsung phones. A fix, if possible, would be greatly appreciated.

[2019-10-12 16:07] caeldom opened #37 "[feature request] battery tile option to be shortcut to setting instead of monitor service"
Battery detail tile
Add an option for tile to just open the battery settings, instead of starting the monitor service.

[2019-10-12 16:17] caeldom opened #38 "[bug] storage tile open file manager not working Android 10"
Storage Tile
Action set to open file manager, pressing tile and file manager does not open. Android 10 probably changed something.

[2019-11-21 08:43] rascarlo commented on #37
@caeldom release 2.1 has introduced a new tile for battery settings. closing this issue

[2019-11-21 08:43] #37 closed

[2019-11-21 08:44] rascarlo commented on #38
@caeldom release 2.1 has a fix for it. closing the issue

[2019-11-21 08:44] #38 closed

[2019-11-21 08:45] rascarlo commented on #32
@kps619 release 2.1 comes with an option to use android accessibility service to take a screenshot on device API 28 and up

[2019-11-21 08:45] #32 closed

[2019-11-21 23:20] caeldom commented on #38
Updated to 2.1, still having issue though. Specifically when Action is set to Open File Manager.

[2019-11-22 06:34] rascarlo commented on #38
Hi, what device are you using?

[2019-11-22 18:25] TragicLifeHu opened #39 "[Bug] Tiles switch issue on Android 10"
*I am NOT a native English speaker, so sorry if my description is unclear

System: Android 10 aarch64 AOSP
SU: Magisk 20.1
Issue: Sometimes I toggle on a tile but the command it works is toggle off
This really confused me
Only by restarting the phone could fix this issue, but soon it reproduced again
I noticed that before this issue happens, I will have an operation (a toggle in system tile menu)

[2019-11-22 18:47] rascarlo commented on #39
@TragicLifeHu can you tell what device are you using and what tiles you are referring to?

[2019-11-23 00:49] caeldom commented on #38
Google Pixel 3a

[2019-11-23 01:36] TragicLifeHu commented on #39
@rascarlo My device is ZUK Z2 Plus with SD820. This is a universal issue and happens on any tile

[2019-11-24 00:07] jise opened #40 "[Bug] Tile Invert colors swaps its state icons on Android 10"
I was wondering whether to continue with issue #39, but in the end I'm starting new one because there are some differences. On my device not all tiles are affected but only this one. TBH I added so far with Tiles app just five tiles: Applications, Clipboard, Immersive mode, Invert colors and Sleep and the other tiles behave normally.

My device: Asus ZenFone 6 (ZS630KL) with Android 10 Version WW-

[2019-12-08 08:57] jise commented on #40
I updated my phone on November 27 to version WW_17.1810.1910.73 via local full update (not OTA), this issue persists.

[2019-12-13 14:02] rascarlo commented on #40
@jise  Are you use any power saving app? Maybe it is your device aggressive doze killing the services.
Did you try: https://dontkillmyapp.com/asus

[2019-12-13 14:03] rascarlo commented on #39
@TragicLifeHu I believe this is something due to the Lenovo very aggressive doze: https://dontkillmyapp.com/lenovo

[2019-12-13 14:05] rascarlo commented on #36
Hi @EmbersArc is such issue still reproducible?

[2019-12-13 14:06] #34 closed

[2019-12-13 14:10] jise commented on #40
No, I even excluded Tiles from battery optimization since installation.
I don't use Asus PowerMaster.
As I said I have no problems with other enabled tiles.

[2019-12-13 14:14] rascarlo commented on #40
That is so discouraging, because I can not reproduce such issue on my pixel2, on a couple of nokias and all the supported emulators. Even more, you are the first one so far to report such issue with the invert colors tile. I have no clue to be honest

[2019-12-13 14:18] rascarlo commented on #40
@jise I am sorry but I have no idea how to fix it. The invert colors tile works by the same logic of many other tiles that reflect any on/off state and I rechecked the code multiple times and there are no bugs. It is extremely heart breaking to not be able to fix such issue. Please if you want a refund, contact me in private and I can issue your refund

[2019-12-13 14:28] jise commented on #40
No refund is needed :)
Your app deserve it and I like it a lot.

My issue description is accurate and completely reproducible on my device. Unfortunately, I don't have any other Android 10 device to test it elsewhere.

If I find something, or I think something else I write here, please do not close.

If you would like to try the debug version on my device I am willing to do so.

[2019-12-13 14:29] jise commented on #40
Let know which tiles has the same logic behind, I'll test them too.

[2019-12-13 14:43] rascarlo commented on #40
- adaptive brightness
- always on- ambient display- awake while plugged in
- battery saver
- bluetooth
- brightness
- cellular data
- data roaming
- demo mode
- double tap to check
- font size
- heads up notification
- immersive mode
- invert colors
- lift to check- location
- media volume
- monochromacy
- orientation lock
- ringer mode
- sleep timeout
- usb debugging
- touch sounds
- vibrate for

[2019-12-13 14:52] EmbersArc commented on #36
I just tried it and the issue still exists on my S8 with Android 9. It seems that Samsung handles the mono-audio setting differently. Let me know what other information you need to help fix it.

[2019-12-13 14:59] rascarlo commented on #36
@EmbersArc was such issue present also on Android 8?

[2019-12-13 15:02] EmbersArc commented on #36
Yes it was also present on Android 8.

[2019-12-13 15:03] rascarlo commented on #36
Then I believe that samsung is overriding the AOSP behaviour for mono-audio and without looking at the source code I have no way to properly debug the issue and find a solution. Where is the mono-audio found on samsung devices?

[2019-12-13 16:10] EmbersArc commented on #36
In Samsung devices it's under `Settings` > `Accessibility` > `Hearing enhancements` > `Mono audio`.

Unfortunately I couldn't find an activity to access it directly.  Although `Hearing enhancements` can be opened with `.Activities$AccessibilitySettingsHearingActivity`

[2019-12-13 20:14] TragicLifeHu commented on #39
@rascarlo I have flashed AOSP, so I think it is not related to the manufacturer
This bug appears even I have not screen off for bootup

[2019-12-13 21:20] rascarlo commented on #39
Did you flash aosp on a lenovo device?  How so? 

[2019-12-14 01:30] TragicLifeHu commented on #39
ZUK series are open source. And Lenovo dropped all ZUKs in 2018, so there's no more further support from Lenovo.

[2020-01-13 01:40] WhiCCX0 opened #41 "Location permission on Q"
## Bug issue
To create a new issue for a bug, please use the following form:

`[bug] short description of the bug`
Because the new method of location permission on Q that only allow location permission when app tiles is open, so the tiles of location or weather cannot get the location to function correctly.
___

## Feature request issue

To create a new issue for a bug, please use the following fo

[2020-01-13 11:01] rascarlo commented on #41
Android deprecated the awareness api: https://developers.google.com/awareness/android-api/snapshot-api-overview
This is why the tiles don't work.
They will be removed in the upcoming release

[2020-01-14 12:07] rascarlo commented on #41
@WhiCCX0 actually, you are right. The streetview and map tiles needs access to location in the background to work properly. I have already fixed such issue and it will be available in the upcoming release. Unfortunately the weather tile will be removed being now deprecated.
Thanks for opening this issue and sorry for the inconvenience.

[2020-01-14 12:12] WhiCCX0 commented on #41
You are welcome 😊.

[2020-01-14 12:13] #41 closed

[2020-02-18 20:37] badener95 opened #42 "[Bug] Aod tile not working on Google Pixel 3a with Android 10"
The title pretty much says it all. The tile to toggle always on display does nothing on my Pixel 3a with Android 10.

[2020-02-21 07:48] #39 closed

[2020-02-21 07:49] #40 closed

[2020-02-21 07:49] #36 closed

[2020-02-27 11:41] Lion4K opened #43 "[feature request] can you add a toggle to device cutout ?"
There's an option in developer settings called device cutout it can hides the notch in some devices.
I needed because I realised that some apps break with the notch on and I constantly need to be toggling that on and off.

[2020-03-04 08:39] rascarlo commented on #42
@badener95 is the issue fixed on your pixel? Is this way you closed the issue?

[2020-03-04 08:40] rascarlo commented on #43
@Lion4K thanks for opening the issue. I will take a look at the android frameworks and see what I can do

[2020-03-04 10:53] badener95 commented on #42
It seems to work now. I don't know if it has anything to do with the March system update I have installed yesterday and I can't tell you how to replicate the issue I had 2 weeks ago when I have opened this because I did not take logs (shame on me).

[2020-03-07 09:18] #42 closed

[2020-04-11 07:34] deppi0 opened #44 "[feature request] turn camera flash notifications on or off"
There is a tile that bring to the menu for the flash notifications but it would be great to have one that turns the camera flash notifications on and off directly.
Thanks

[2020-04-14 11:00] rascarlo commented on #44
What does it mean flash notifications?
And what do you mean with the camera flash notifications?

[2020-04-15 15:24] deppi0 commented on #44
Hi there.
I attach a screenshot to show you what I am talking about.
Please let me know if it makes sense.
Great app you have set up!

Best

Edmondo

On Tue, Apr 14, 2020, 12:00 rascarlo <notifications@github.com> wrote:

[2020-04-15 18:57] rascarlo commented on #44
I don't see any screenshot...

[2020-04-16 14:46] deppi0 commented on #44
This is weird.
Does it work this time?
Thanks

On Wed, 15 Apr 2020 at 19:58, rascarlo <notifications@github.com> wrote:

[2020-04-17 07:46] rascarlo commented on #44
No it doesn't

[2020-04-17 09:19] deppi0 commented on #44
I don't understand...it shows on my sent emails.
[image: Screenshot_20200414-225308_Accessibility.jpg]

On Fri, 17 Apr 2020 at 08:46, rascarlo <notifications@github.com> wrote:

[2020-04-17 10:57] rascarlo commented on #44
That is not how it works on github. you can check for yourself: https://github.com/TilesOrganization/support/issues/44

[2020-04-29 16:00] #44 closed

[2020-06-06 15:01] Dre-OS opened #45 "[bug] No alarm set issue"
Its supposed to tell if an alarm is set but the tile displays "No Alarm Set" and does not tell the time that the alarm will go off,

Running Realme 5 on ColorOS 6.0.1 over Android 9

[2020-06-07 17:18] Dre-OS opened #46 "[feature request] Saving DNS over TLS hosts for Private DNS tile"
I suggest a quick selection interface by saving certain DNS hostnames (like a clipboard) to be used as a DNS provider when needed. It would reduce the hastle of copying varying hostnames from multiple DNS providers that serves either adblocking or a significant speed boost, and quickly switch from one service to another in just a simple tap.

[2020-06-19 16:26] howardb173 opened #47 "[bug] Brightness is not bright enough"
OnePlus 7t pro, android 10.

The built in Adaptive brightness is just too flaky for me, it frequently turns the screen down and I have to turn it up again, so I just turn off adaptive brightness and adjust when need be manually.

I added one of your tiles for brightness, but when toggled to "high" it says 118% but the real brightness slider is just under half way - I'd like "high" to go way higher

[2020-06-22 08:26] rascarlo commented on #46
@Dre-OS thanks for opening the issue. I am considering such feature

[2020-06-22 08:28] rascarlo commented on #45
Did you try to exclude Tiles from battery optimization? this looks like a frequent issue on such vendor due to very aggresive doze

[2020-06-22 08:35] Dre-OS commented on #45
I did exempt tiles from battery optimization

[2020-06-22 08:49] rascarlo commented on #45
Do any other tile work fine?

[2020-06-22 09:04] Dre-OS commented on #45
The media volume tile slider cannot move unless i tap the + or - buttons in the window and counter tile does not register additions that i make on the tile but it work on subraction.

[2020-07-13 06:33] Dre-OS commented on #45
After updating to RealmeUI 1.0 (Android 10), the alarm tile shows the time it will go off and can set an alarm but:
- the screen timeout tile cannot change the timeout value, it reverts to the default value after i try to change it.
- the other tiles i mentioned before except the alarm tile, their bug still persist after the update.

[2020-07-13 06:44] Dre-OS opened #48 "[feature request] Hey google hotword toggle tile"
When "hey google" function of google assistant running in the background, it is quite battery draining when left turned on for quite sometime even if it only functions while the screen is on. Moreover, some use it frequently but would like to preserve battery for other purposes. This can be solved by implementing a toggle tile for that function.

[2020-07-18 08:35] Dre-OS opened #49 "[bug] Multi window tile not launching on Android 10"
After the update to RealmeUI 1.0 (Android 10), the multi window tile has stopped launching the Multiwindow function.

[2020-07-19 10:17] rascarlo commented on #49
Not app related. Probably due to the new OS update overriding standard aosp feature.

[2020-07-19 10:17] #49 closed

[2020-07-19 10:20] rascarlo commented on #45
Sorry but those bugs have been introduces by the OS update. Tiles is built against AOSP and its standard features, if vendors decide to override such standards funcionalities, there is nothing I can do to fix their mess

[2020-07-19 10:20] #45 closed

[2020-07-19 10:21] rascarlo commented on #48
Unfortunately such thing is not achievable by third party app beside launchers because google does not expose any api for it

[2020-07-19 10:22] #48 closed

[2020-08-02 23:51] Dre-OS opened #50 "[feature request] force 4x MSAA toggle button"
This developer option improves graphics in games by letting the GPU perform more in rendering. Consider adding this type of tile for gaming purposes but warn them about the consequences of overheating and battery draining from the use of this option.

[2020-08-08 15:48] Akvaristu opened #51 "[feature request] Wifi Hotspot/Tethering"
Would it be possible to have a tile to toggle the WiFi hotspot?
Thanks!

[2020-09-22 11:02] databoy2k opened #52 "Immersive Mode on Android 11"
## Bug issue
To create a new issue for a bug, please use the following form:

`[bug] short description of the bug`

The immersive mode toggle does not have an effect on Android 11. Running on a Pixel 3. Permissions granted; no issue with permissions identified by Tiles.

All modes impacted (Hide system, hide navigation, hide status).

[2020-10-19 15:25] Maumin opened #53 "[bug]Call Tile not working"
I just changed my phone to a Redmi Note 9S with MIUI 11, whenever I try to setup the call tile to call a selected contact it says something is wrong and to try again later.

[2020-10-29 09:46] bracco23 opened #54 "[bug] rotation icon not updating correctly on android 11"
On my Pixel 5 (Android 11, Build RD1A.200810.021.A1) I have a minor issue where the icon for the rotation control in the top bar doesn't update correctly. Basically, when I change rotation mode, it sticks to the old icon until I don't click on it again.

I recorded the issue, the video can be [found here](https://www.dropbox.com/s/3rquudzooamy9tx/20201029_tiles_bug.mp4?dl=0). In the video I move f

[2020-11-05 17:03] LasseRheinstroem commented on #28
Hey, it's not only NFC. I got this for all Tiles. VPN and Application has the same issue. After a device-restart the tiles are grayed out and didn't work until they got removed an added again.

Edit: Sorry, I'm using a new Mi10Tpro

[2020-11-11 03:52] AlexanderPavlenko opened #55 "Ringer mode > Priority only"
When changing "Normal" to "Priority only" in addition to enabling DND this tile seems to mute all sounds (two icons appear on top bar: circle with - inside, and bell with \ over it) which allows, well, to miss all the priority notifications.

[2021-01-17 00:48] ryznzd opened #56 "[bug] Alarm tile not updating on Android 10"
Hello, I have following issue with Alarm tile on my OnePlus 7T Pro with Android 10 - the alarm tile is not updating according to alarm currently set (or not set), actually it's mostly showing opposite - if you set up alarm, the tile is off and vice versa. Please see attached pic. Using latest version of Tiles (2.1.7 version code 54).
![obrázek_2021-01-17_014801](https://user-images.githubuserconte

[2021-01-20 18:51] happyBOY78 opened #57 "[bug]Sleep timeout not working"
I have Realme C3 on Android 10 with ColorOS 7.
When i want to change sleep timeout, it is not working for me. I want to change it for example from 1 min to 5 min, but nothing happened, it stay on old timeout.
Via phone system settings it is ok.
In tile preference is system permission allowed.

Thank for your help :-)

[2021-01-20 23:34] Dre-OS commented on #57
Same problem here on Realme 5 on Android 10, Battery optimization is turned off for the app but still has no change in screen timeout whatsoever.

[2021-03-13 14:11] Mongoose69 opened #58 "Battery Details won't disable"
It keeps restarting itself. I've tried restarting tiles, re-adding the battery details tile and disabling again but it keeps restarting itself

[2021-05-16 01:51] mbc07 opened #59 "[Feature Request] ADB over Wi-Fi tile"
Although Android 11 has this feature natively, all previous versions rely on running `adb tcpip <port number>` from a PC or running the commands described below directly from the phone through a terminal with root privileges (e.g. Termux). I previously had a separate app that did just that from a QS Tile but it's gone from the Play Store and nowhere to be found, so it would be nice if Tiles could

[2021-05-22 20:16] Mongoose69 opened #60 "Network traffic tile showing wrong figures"
I did an internet speed test and as it was pumping thru at 50 Mbps download, the tile showed only 1Kbps

[2021-11-26 14:00] PinkDev1 opened #61 "[Bug][Important] Playstore link broken"
So, what's the link of the actual app?

[2022-01-05 16:23] Mongoose69 opened #62 "Network speed unreadable"
The tile for displaying the network speed wraps the text too quickly making it too hard to read